.bookmarks{
    position: sticky;
    top: 0px;
    height: max-content;
}
.common{
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px 10px;
}
.heading{
    border: 2px solid rgb(85, 199, 201);
}
.blogname{
    background-color: rgba(100, 235, 237, 0.452);
}
