.blogs{
    border-bottom: 0.25rem solid rgb(142, 142, 142);
}
.author-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.author-container img{
    height: 50px;
    width: 50px;
}
.bookmark-btn{
    padding: 0;
    margin-left: 15px;
    background-color: white;
}
.bookmark-btn:hover{
    background-color: white;
}
.hov:hover{
    background-color: white;
    color: rgb(240, 182, 34);
}
